<rizzium-header [title]="'My Businesses'" [showBackButton]="false"
  (buttonClicked)="headerButtonClicked($event)"></rizzium-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="loading">
    <ion-spinner></ion-spinner>
    <p>Loading businesses...</p>
  </ng-container>

  <ng-container *ngIf="!loading && error">
    <ion-text color="danger">
      <p>{{ error }}</p>
    </ion-text>
  </ng-container>

  <ng-container *ngIf="!loading && !error">
    <ion-list>
      <ion-item *ngFor="let business of businesses$ | async" (click)="goToBusiness(business.id)"
        data-cy="business-item">
        <ion-label>
          <h2>{{ business.businessName }}</h2>
          <p>{{ business.businessType }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="createNewBusiness()" data-cy="create-business-button">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>

  <ion-text *ngIf="!loading && !error && (businesses$ | async)?.length === 0" data-cy="empty-state-message">
    <p>You don't have any businesses yet. Create one to get started!</p>
  </ion-text>
</ion-content>

<rizzium-footer></rizzium-footer>