<rizzium-header [title]="'Product Management'"></rizzium-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let product of products$ | async">
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>Price: {{ product.price | currency }}</p>
        <p>Stock: {{ product.stockQuantity }}</p>
      </ion-label>
      <ion-button slot="end" (click)="editProduct(product)">Edit</ion-button>
      <ion-button slot="end" color="danger" (click)="deleteProduct(product.id)">Delete</ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddProductModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<rizzium-footer></rizzium-footer>