ion-content {
  --padding-bottom: 80px;
}

rizzium-footer {
  ::ng-deep ion-footer {
    background: var(--ion-color-light);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 767px) {
  ion-content {
    --padding-bottom: 140px;
  }
}
