rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access on all documents to any user signed in to the application
    match /{document=**} {
      allow read, write: if request.auth != null;
    }

    // Businesses collection
    match /businesses/{businessId} {
      allow create: if request.auth != null;
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.ownerId;

      // Users subcollection in businesses
      match /users/{userId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    // Users collection
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Carts collection
    match /carts/{cartId} {
      allow read, write: if request.auth != null && request.auth.uid == cartId;
    }
  }
}
