<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Set Up Your Business</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="businessForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Business Name</ion-label>
      <ion-input formControlName="businessName" data-cy="business-name-input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Business Type</ion-label>
      <ion-input formControlName="businessType" data-cy="business-type-input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input formControlName="address" data-cy="business-address-input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input formControlName="phoneNumber" data-cy="business-phone-input"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!businessForm.valid" data-cy="create-business-submit">
      Create Business
    </ion-button>
  </form>

  <ion-text color="danger" *ngIf="errorMessage" data-cy="business-setup-error-message">
    {{ errorMessage }}
  </ion-text>

  <ion-text color="success" *ngIf="successMessage" data-cy="business-setup-success-message">
    {{ successMessage }}
  </ion-text>
</ion-content>