<ion-header>
    <ion-toolbar color="primary">
        <ion-title>All Listings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item *ngFor="let listing of listings">
            <ion-card class="listing-card" [routerLink]="['/listings', listing.id]">
                <img [src]="listing.image" [alt]="listing.title" />
                <ion-card-header>
                    <ion-card-title>{{ listing.title }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p><ion-icon name="location-outline"></ion-icon> {{ listing.location }}</p>
                    <p><ion-icon name="bed-outline"></ion-icon> {{ listing.beds }} beds</p>
                    <p class="price">
                        <ion-icon name="cash-outline"></ion-icon> ${{ listing.price }} / night
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>