<h1>Register Your Business</h1>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="businessName">Business Name:</label>
        <input id="businessName" type="text" formControlName="businessName">
    </div>
    <div>
        <label for="ownerEmail">Owner Email:</label>
        <input id="ownerEmail" type="email" formControlName="ownerEmail">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="!registrationForm.valid">Register</button>
</form>