name: PR Build and Deploy

on:
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Start Nx Cloud CI Run
        run: npx nx-cloud start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="build"

      - name: Cache
        uses: actions/cache@v4.1.2
        with:
          path: |
            ~/.npm
            node_modules
            .nx/cache
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.ts') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Install Firebase CLI
        run: npm install -g firebase-tools --legacy-peer-deps

      - name: Connect to Nx Cloud
        run: npx nx connect-to-nx-cloud

      - uses: nrwl/nx-set-shas@v4

      - name: Build rizzpos app
        run: |
          npx nx-cloud record -- npx nx build rizzpos --prod

      - name: Log build output on failure
        if: failure()
        run: |
          echo "Build failed. Here's the last 100 lines of output:"
          npx nx build rizzpos --prod --verbose | tail -n 100

      # Build Firebase functions
      - name: Build Firebase Functions
        run: |
          npx nx build rizzpos-firebase

      # Deploy to Firebase
      - name: Deploy to Firebase
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        run: |
          npx nx deploy rizzpos-firebase
